{% extends 'base.html' %}
{% block title %}SPA{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_sap.css') }}">
{% endblock %}

{% block content %}
<h1>Book By Id or Title</h1>
<div class="book-by-id-card">
    <form class="debug-form" onsubmit="handleSendClick(event)">
        <input type="text" name="endpoint" value="" placeholder="Enter Book ID or Title" />
        <button type="submit" data-action="read">Get Data</button>
        <button type="button" data-action="clear" onclick="handleClearClick(event)">Clear</button>
    </form>

    <div class="boock-cta"></div>
</div>
{% endblock %}