:root {
  --font-color: rgb(69, 116, 104);
  --font-color-darker: rgb(53, 88, 80);
  --main-color: rgb(135, 218, 197);
  --secondary-color: rgb(240, 255, 249);
}



* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color:var(--secondary-color);
  padding: 1em 5em;
}

 h1 {
 margin-bottom: .2em;
 font-weight: 100;
 color: var(--font-color-darker);
}

.boock-cta, .selection-cta {
  margin: 1em 0em;
  background-color: var(--main-color);
  padding: 1em 5em;
  color : var(--font-color);
  border-radius: 8px;
  transition: all 2s;
  border: 2px solid #ffffff;
}

.boock-cta h1{
color :var(--font-color-darker);

}

input {
  border: 1px solid var(--main-color);
  margin-right: 1em;
  color: var(--font-color-darker);
  padding: 0.3em;
  border-radius: 4px ;
  
}


button,
.button {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--font-color-darker);
    cursor: pointer;
    font-size: 0.6em;
    font-weight: bold;
    margin: 0.3em 0;
    padding: 0.6em 1.3em;
    text-transform: uppercase;
    min-width: 23ch;
    border-radius: 4px ;
}

button:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}

.button {
    background-color: transparent;
    color: var(--main-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}

